*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: rgb(33, 34, 52);
}

#titulo{
    height: 3em;
    background-color: rgb(238, 173, 45);
    color: rgb(33, 34, 52);
    border: 1px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
}

main {
    height: 48.3em;
}

#color-palette{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.color {
    width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
    
}

footer {
    background-color:  rgb(238, 173, 45);
    height: 3em;
    border: 1px solid black;
}

#color0 {
    background-color: black;
}

#color1 {
    background-color: red;
}

#color2 {
 background-color: blue;
}

#color3 {
    background-color: yellow;
}

#posicao-random {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#button-random-color {
    
    background-color: rgb(238, 173, 45);
    color: rgb(33, 34, 52);
    font-size: 20px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
      
    
