*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-image: url(img/backgroundImg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
}

main {
    height: 46.4em;
}

#color-palette{
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
    
}

footer {
    background-color: black;
    height: 4em;
    border: 1px solid black;
}

#color0 {
    background-color: black;
}

#color1 {
    background-color: red;
}

#color2 {
 background-color: blue;
}

#color3 {
    background-color: yellow;
}

#posicao-random {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#button-random-color {
    background-color: black;
    color: white;
    font-size: 20px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#posicao-pixel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#pixel-board {
    display: grid;
    background-color: rgb(33, 34, 52);
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 40px);
    width: 200px;
    height: 200px;
    margin-top: 30px;
}

.pixel {
    background-color: white;
    border: 1px solid black;
    height: 40px;
    width: 40px;
}

#botão-borda{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10;
    height: 50px;
}

#clear-board{
    background-color: black;
    color: white;
    font-size: 20px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#creditos {
    color: white;
    font-size: 18px;
    position: absolute;
}